@charset "UTF-8";

/* CSS Document */


/* -------------------------------- FONTS -------------------------------- */

@font-face {
    font-family: tng;
    src: url(fonts/TNG.ttf);
}

@font-face {
    font-family: Federation;
    src: url(fonts/Federation.ttf);
}


/* -------------------------------- BODY -------------------------------- */

body {
    background-color: #02080f;
    /* default font settings*/
    font-family: Verdana, Ariel, sans-serif;
    font-size: 12px;
    line-height: 20px;
    /* positioning of body content */
    display: block;
    color: #34affa;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0px;
    position: static;
}


/* ------------------------------ REQUIRED ------------------------------ */

h1 {
    font-family: tng, Impact, Charcoal, sans-serif;
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    color: #34affa;
    margin-top: 75px;
}

h1 sup {
    vertical-align: .25em;
    margin-right: -7px;
}

h1 sub {
    vertical-align: -.25em;
    margin-left: -7px;
}

h2 {
    font-family: tng, Impact, Charcoal, sans-serif;
    color: #0099f6;
    letter-spacing: .16em;
    font-size: 3.75em;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 75px;
}

h3 {
    font-family: Federation, "Courier New", monospace;
    color: #347FD9;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .1em;
}

p {
    margin: 0px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.75em;
    color: #6AA1E2;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .25em;
    padding: 10px;
    margin: 0px;
    margin-top: 75px;
}

span {
    font-family: Federation, "Courier New", monospace;
    letter-spacing: .1em;
    color: #c82825;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 7px 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-7deg) translateY(10px);
    -moz-transform: rotate(-7deg) translateY(10px);
    -o-transform: rotate(-7deg) translateY(10px);
    -ms-transform: rotate(-7deg) translateY(10px);
    transform: rotate(-7deg) translateY(10px);
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 20px;
}

.command {
    font-family: Federation, "Courier New", monospace;
    color: #347FD9;
    margin-top: 20px;
    margin-left: 7px;
    font-size: 14px;
    letter-spacing: .5em;
}

.details li {
    margin-top: 10px;
}

.details li::before {
    content: '\00BB';
    padding-right: 10px;
    margin-left: -18px;
}

strong {
    font-family: Federation, "Courier New", monospace;
    letter-spacing: .25em;
    color: #c82825;
}


/* ------------------------------ OPTIONAL ------------------------------ */

hr {
    border: 0;
    height: 1px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: linear-gradient(to right, #000000, #DAE8F8, #000000);
}


/* -------------------------------- MISC -------------------------------- */

#author {
    font-size: 10px;
    text-align: center;
}

#author em {
    font-size: 10px;
    font-weight: bold;
    color: #f43431;
}

.right {
    bottom: 0px;
    overflow: hidden;
    left: 0px;
    width: 50%;
    float: left;
}

.row {
    overflow: auto;
    clear: both;
    padding: 0px 0px 0px 0px;
}

.left {
    width: 50%;
    float: right;
}

#subtitle {
    margin-top: -15px;
    color: #6AA1E2;
    font-style: italic;
    letter-spacing: .25em;
    font-size: 10px;
    text-transform: lowercase;
}
