@charset "UTF-8";

/* CSS Document */


/* -------------------------------- FONTS -------------------------------- */

@font-face {
    font-family: tng;
    src: url(fonts/TNG.ttf);
}

@font-face {
    font-family: Federation;
    src: url(fonts/Federation.ttf);
}


/* -------------------------------- BODY -------------------------------- */

body {
    background-color: #020202;
    /* default font settings*/
    font-family: "Helvetica", Ariel, sans-serif;
    color: #246DC4;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .1em;
    /* positioning of body content */
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0px;
    position: static;
}


/* ------------------------------ REQUIRED ------------------------------ */

h1 {
    font-family: tng, "Courier New", Courier, monospace;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    ;
}

h1 sup {
    vertical-align: 1.13rem;
    margin-right: -7px;
}

h1 sub {
    vertical-align: -1.13rem;
    margin-left: -7px;
}

h2 {
    font-family: tng, "Courier New", Courier, monospace;
    letter-spacing: .16em;
    font-size: 2.5rem;
    text-align: center;
    text-transform: lowercase;
}

h3 {
    font-family: Federation, "Courier New", Courier, monospace;
    font-style: italic;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

p:last-child {
    margin-bottom: 0px;
    font-weight: bold;
}

blockquote {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1rem;
    line-height: 1.5rem;
    color: #999;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
}

span {
    font-family: Federation, "Courier New", Courier, monospace;
    letter-spacing: .2rem;
    color: #df0000;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-shadow: 7px 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-7deg) translateY(10px);
    -moz-transform: rotate(-7deg) translateY(10px);
    -o-transform: rotate(-7deg) translateY(10px);
    -ms-transform: rotate(-7deg) translateY(10px);
    transform: rotate(-7deg) translateY(10px);
}

ol {
    list-style: none;
    padding-left: 5px;
    margin-left: 5px;
}

li:nth-child(even) {
    font-weight: bold;
}

strong {
    font-family: Federation, "Courier New", Courier, monospace;
    letter-spacing: .2rem;
    color: #df0000;
}


/* ------------------------------ OPTIONAL ------------------------------ */

hr {
    border: 0;
    height: 1px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-image: linear-gradient(to right, #000000, #FFFFFF, #000000);
}


/* -------------------------------- MISC -------------------------------- */

#author {
    font-size: 10px;
    text-align: center;
}

#author em {
    font-size: 10px;
    font-weight: bold;
    color: #df0000;
}

#quote {
    bottom: 0px;
    overflow: auto;
    left: 0px;
    width: 330px;
    position: relative;
    margin-left: -50px;
    vertical-align: middle;
    border: 1px solid orange;
}

#right {
    margin-left: auto;
    padding-right: 0px;
    border: 1px solid red;
}

#one {
    overflow: auto;
    padding: 0px 0px 0px 0px;
    border: 1px solid blue;
}

#about {
    overflow: auto;
    width: 300px;
    position: static;
    float: right;
    border: 1px solid green;
}

#about p {
    margin: 0px;
    margin-bottom: 20px;
}

#command {
    width: 290px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#command h3 {
    margin: 0px;
}

margin: 0px;
padding: 0px;

}
#command h3 {
    margin: 0px;
}
